h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.275em;
}

h3 {
  font-size: 1.125em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.75em;
}

h6 {
  font-size: 0.625em;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1em 2em;
}

.content .container {
  position: relative;
}

.container-wrapper > h1 {
  margin: 1em 0 0.5em;
  text-align: center;
}

.no-data {
  text-align: center;
}

.success-message {
  padding: 1rem;
  font-size: 1.2em;
  text-align: center;
  color: #7ab893;
}

.text-center {
  text-align: center;
}

.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
}

.table-wrapper::-webkit-scrollbar {
  width: 0.25rem;
}
.table-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.table-wrapper::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/*
 * === Form ===
 */

.form {
  max-width: 35em;
  margin: 0 auto;
}

.form__header {
  font-size: 1em;
  text-align: center;
}

.form__item {
  position: relative;
  margin-top: 1.7em;
}

.form__bind-list-item {
  position: relative;
  display: inline-flex;
  margin-left: 0.2em;
  margin-bottom: 0.2em;
  padding: 0.3em 1.5em 0.3em 0.7em;
  color: #377D6A;
  font-weight: 400;
  background: #dff2dc;
  border-radius: 3px;
}

.form__bind-list-item:first-child {
  margin-left: 0;
}

.form input {
  width: 100%;
  padding: 0.3em 0.2em 0.3em 0.7em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  color: #377D6A;
  background: #dff2dc;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 5.5em;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.form label {
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  left: 0;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.25em 0.9em;
  color: #032429;
  font-size: 0.625em;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 3px;
  background: rgba(122, 184, 147, 0);
}

.form label:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  margin-left: -3px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid rgba(122, 184, 147, 0);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form input:focus,
.form input:active {
  color: #377D6A;
  text-indent: 0;
}

.form input:focus + label,
.form input:active + label {
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #7ab893;
  -webkit-transform: translateY(-2.6em);
  -ms-transform: translateY(-2.6em);
  transform: translateY(-2.6em);
}
.form input:focus + label:after,
.form input:active + label:after {
  border-top: 4px solid #7ab893;
}

.form input::-webkit-input-placeholder {
  color: #c0c0c0;
  letter-spacing: 20px;
  opacity: 0;
  -o-transition: linear 0.3s;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}

.form input:focus::-webkit-input-placeholder {
  letter-spacing: 1px;
  opacity: 1;
}

.form-group-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-group-actions .form__action,
.form-group-actions > input[type="submit"] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40%;
  width: 100%;
  height: 2em;
  font-size: 1em;
  line-height: 1.5;
  text-decoration: none;
  color: #222222;
  background: none;
  border: 2px solid #90da9c;
  border-radius: 0;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}

.form-group-actions .form__action::before,
.form-group-actions .form__action::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 1px;
  background: #90da9c;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.form-group-actions .form__action::before {
  left: 0;
  bottom: 0.2em;
}
.form-group-actions .form__action::after {
  right: 0;
  top: 0.2em;
}

.form-group-actions .form__action:hover::before,
.form-group-actions .form__action:hover::after {
  width: 100%;
}

.form-group-actions .form__action:last-child {
  margin-left: 1%;
}

/* The container */
.form__item_checkbox {
  position: relative;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.form__item_checkbox input {
  position: absolute;
  z-index: 99;
  left: 90px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  opacity: 0;
}

.checkmark {
  position: relative;
  height: 25px;
  width: 25px;
  margin-left: 90px;
  background-color: #eee;
}

.form__item_checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.form__item_checkbox input:checked ~ .checkmark {
  background-color: #90da9c;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.form__item_checkbox input:checked ~ .checkmark::after {
  display: block;
}

.form__item_checkbox .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form__item .error {
  position: absolute;
  top: -0.9em;
  right: 0;
  font-size: 0.8em;
  color: red;
}

/*
 * === End forms ===
 */

/**
 * === Store table ===
 */
.store-table {
  width: 100%;
  border: 1px solid #f2f2f2;
  font-size: 1em;
  line-height: 1.5;
}

.store-table__header {
  text-align: center;
  background: #e2e2e2;
  font-weight: bold;
}

.table-row-item {
  vertical-align: middle;
}

.table-row-item td {
  padding: 0.5em;
  text-align: center;
}

.store-table__header th{
  padding: 0.5em;
}
.store-table.adverts .store-table__header td,
.store-table.adverts tr.table-row-item td {
  width: 12.14%;
}


.store-table_main.adverts .store-table__header td:last-child{
  width: 7.5%;
}

tr.table-row-item:nth-of-type(even) {
  background-color: #dff2dc;
}

tr.table-row-item:nth-of-type(odd) {
  background-color: #ffffff;
}

.table-row-item-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.table-row-item-buttons button {
  padding: 0;
  font-size: 1em;
  background: none;
  border: none;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.1s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.table-row-item-buttons a {
  font-size: 1em;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.1s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.remove-item {
  color: #ff8888;
}

.edit-item{
  color: #81a1ff;
  margin: 0 0.5em;
}

.show-info {
  color: #a087ff;
}

.edit-item:hover{
  color: #1f58ff;
}

.remove-item:hover {
  color: #ff2121;
}

.show-info:hover {
  color: #6943fb;
}

/*
 * === End store table ===
 */


/**
 * === Buttons ===
 */

.action-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 20em;
  width: 100%;
  height: 3em;
  margin: 2em auto;
  text-transform: uppercase;
  line-height: 1.5;
  color: #222222;
  text-decoration: none;
  background: none;
  border: 2px solid #90da9c;
  border-radius: 0;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}

.action-btn::before,
.action-btn::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 1px;
  background: #90da9c;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.action-btn::before {
  left: 0;
  bottom: 0.2em;
}
.action-btn::after {
  right: 0;
  top: 0.2em;
}

.action-btn:hover::before,
.action-btn:hover::after {
  width: 100%;
}
/*
 * === End buttons ===
 */

/*
 * === Additional information ===
 */
.additional-info {
  margin-top: 0.5em;
  padding: 1.5em 0;
  font-size: 1rem;
}

.additional-info h2{
  text-align: center;
  margin-bottom: 1em;
}

.additional-info .no-data {
  padding: 1em;
  margin: 1em 0 0.5em;
  font-size: 1em;
  box-shadow: 0 0 3px red;
  text-align: center;
}

/*
 * === End of additional information ===
 */

/*
 * === Details board ===
 */

.details-board {
  max-width: 30em;
  margin: 0 auto;
  padding: 1em;
  border-radius: 0;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);

}

.details-board__list-item {
  margin-bottom: 0.8em;
}

.details-board__title {
  display: inline-block;
  min-width: 9em;
  margin-right: 1em;
  text-align: right;
  font-size: 1em;
  font-weight: bold;
}

/*
 * === End of details board ===
 */
