/**
 * Navigation
 */

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0;
    color: #ffffff;
    padding: 0;
    background: #222222;
}

.menu a{
    font-size: 1.25em;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.menu a:hover, .menu a.active {
    color: #90da9c;
}

.menu__item {
    padding: 0 0.35em;
    list-style: none;
    color: inherit;
}

.menu__item::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #ffffff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu__item:hover::after {
    width: 100%;
}