.not-found {
    text-align: center;
}

.not-found h1 {
    margin: 0.5em 0;
    font-size: 6em;
    color: #222222;
}

.not-found h2 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.25em;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}

.not-found .not-found-404 h3 {
    position: relative;
    margin: 0;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}