/**
 * Header, Footer
 */
.header {
    background: #222222;
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/**
 * Logo
 */

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: #ffffff;
}

.logo_big {
    font-size: 1.25em;
}
.logo_small {
    font-size: 0.875em;
}

.logo__text {
    margin-left: 0.5em;
}